torch==2.8.0
torchaudio==2.8.0
torchvision==0.23.0
pandas==2.3.3
numpy==2.0.2
scikit-learn==1.6.1
scikit-image==0.24.0
scipy==1.13.1
matplotlib==3.9.4
pillow==11.3.0
requests==2.32.5

transformers==4.57.6
pytorch_lightning==2.6.0
torchmetrics==1.8.2

pyarrow==21.0.0
gdown==5.2.2
Bio==1.6.2
seaborn==0.13.2
